{% extends 'base.html.twig' %}

{% block title %}Reset password{% endblock %}

{% block body %}
    <form method="post" class="form login-form">
        <img src="{{ asset('build/images/store_logo.png') }}" alt="Shop logo">
        <p class="login-form__description">Your password has been changed</p>
        <div class="form-row form-actions">
            <a class="form-link" href="{{ path('app_login') }}">Login</a>
        </div>
    </form>
{% endblock %}
