{% macro delete_button(route_name, id = null, csrf_token_id = '') %}
    <form method="post"
          action="{{ id is not null ? path(route_name, {'id': id}) : path(route_name) }}"
          onsubmit="return confirm('Are you sure you want to delete this item?');">
        <input type="hidden" name="_token" value="{{ csrf_token(id is not null ? (csrf_token_id ~ id) : csrf_token_id) }}">
        <button type="submit" class="btn-link btn-link--small btn-link--delete" title="Delete">
            <span class="btn-link__icon material-symbols-outlined">delete</span>
        </button>
    </form>
{% endmacro %}

{% macro import_button(route_name, csrf_token_id = '') %}
    <form method="post"
          action="{{ path(route_name) }}">
        <input type="hidden" name="_token" value="{{ csrf_token(csrf_token_id) }}">
        <button type="submit" class="btn-link btn-link--small btn-link--action" title="Delete">
            <span class="btn-link__icon material-symbols-outlined">input_circle</span>
        </button>
    </form>
{% endmacro %}
