@use "variables" as *;

.health-check {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;

  &__icon {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    &--positive {
      background-color: $color-green;
    }
    &--negative {
      background-color: $color-red;
    }
  }

  &__text {
      color: #fff;
    font-size: $font-size-small;
  }
}