<div class="table-container">
    <table class="base-table">
        <tr class="base-table__header">
            {% block table_header %}
            {% endblock %}
        </tr>

        {% block table_body %}
        {% endblock %}
    </table>
</div>
