<ul class="filters-info">
    <li class="filters-info__item">You can enter one or more keywords to search.</li>
    <li class="filters-info__item">Separate multiple values with commas <strong>(e.g. rebel, 3558380024750, hurt)</strong>.</li>
    <li class="filters-info__item">The filter will search across several fields, including EAN, category, product name, file name, and more.</li>
    <li class="filters-info__item">All matches are partial, so typing cam will match camera, webcam, etc.</li>
    <li class="filters-info__item">The filter stays active when changing pages.</li>
</ul>