<div class="full-screen-toggle" id="fullscreenToggle">
    <span class="material-symbols-outlined enter">fullscreen</span>
    <span class="material-symbols-outlined exit">fullscreen_exit</span>
</div>